html.dark body {
  background-color: #121212;
  color: #f9f9f9;
}

h1 {
  padding: 0 0 0 1vw;
  font-size: 4.3vh;
}

p {
  padding: 0 0 0 1vw;
  font-size: 2.5vh;
}

.timer {
  font-size: 2.1vh;
  margin-top: 1.5vw;
}

.game-area {
  position: relative;
  overflow: hidden;

  border-style: solid;
  border-width: 0.3vh;
  border-radius: 10px;

  box-shadow: 0 0 2vh rgb(133, 125, 125);

  border-color: #101010;
  height: 50vh;
  width: 50vw;
  padding: 5vw;
  margin: 0 0 0 1vw;
}

html.dark .game-area {
  background-color: #1e1e1e;
  border-color: rgb(133, 125, 125);

  box-shadow: 0 0 2vh rgb(59, 59, 59);
}

.button {
  border-radius: 100%;
  position: relative;
  height: 5vw;
  width: 5vw;

  box-shadow: 0 0 1.5vh rgb(133, 125, 125) inset;
}

.button:hover {
  box-shadow: 0 0 1.5vh rgb(3, 129, 129) inset;

  border-style: solid;
  border-color: aqua;
}

.start-button {
  border-radius: 10px;
  border-width: 0.1vh;
  border-style: solid;
  height: 5vh;
  width: 10vw;
  font-size: 2vh;
  background-color: #ffff;
  color: #191919;
  font-size: 2vh;
  box-shadow: 0 0 0.5vh black;
  margin: 1vw 0vw 1vw 1.5vw;
}

html.dark .start-button {
  background-color: #1e1e1e;
  color: #f9f9f9;
  border-color: rgb(133, 125, 125);
}

.start-button:hover,
html.dark .start-button:hover {
  height: 5.2vh;
  width: 10.4vw;
  color: rgb(3, 129, 129);

  border-style: solid;
  border-color: aqua;
  box-shadow: 0 0 0.5vh rgb(3, 129, 129);
}

.start-button:disabled {
  color: #1919193f;
}

html.dark .start-button:disabled {
  color: #a78d8d3f;
}

.start-button:disabled:hover {
  height: 5vh;
  width: 10vw;

  border-style: none;
  box-shadow: 0 0 0.5vh black;
}

html.dark .start-button:disabled:hover {
  height: 5vh;
  width: 10vw;
  border-color: rgb(133, 125, 125);
  box-shadow: none;
}

@keyframes flyUpAndFade {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  /* 30% {
    
    transform: translateY(-2.5vw);
  } */

  100% {
    opacity: 0;
    transform: translateY(-5vw);
  }
}

.missclick-notify {
  animation: flyUpAndFade 1s cubic-bezier(0.19, 0.5, 0.22, 1) forwards;
}

.flex-box {
  display: flex;
  gap: 2vw;
  align-items: flex-start;
}

.highscore-table {
  border-style: solid;
  border-width: 0.3vh;
  border-radius: 10px;
  border-color: #101010;
}

html.dark .highscore-table {
  border-color: rgb(133, 125, 125);
}

.table-padding {
  padding: 0 2vw;
}

.highscore-heading {
  margin: 0 0 2vh;
}

.name-input {
  border-radius: 10px;
  border-width: 0.1vh;
  border-style: solid;
  height: 4.5vh;
  width: 9.8vw;
  font-size: 2vh;
  background-color: #ffff;

  font-size: 2vh;
  box-shadow: 0 0 0.5vh black;
  margin: 1vw 2vw 1vw 1.5vw;
  padding: 0 0 0 10px;
}

html.dark .name-input {
  background-color: #444343;
  color: white;
}

.name-input::placeholder {
  opacity: 20%;
}

html.dark .name-input::placeholder {
  color: white;
}

.name-input:hover {
  height: 4.7vh;
  width: 10vw;
  color: rgb(3, 129, 129);

  border-style: solid;
  border-color: aqua;
  box-shadow: 0 0 0.5vh rgb(3, 129, 129);
}

.name-input:focus {
  color: rgb(3, 129, 129);

  border-style: solid;
  border-color: aqua;
  box-shadow: 0 0 0.5vh rgb(3, 129, 129);

  outline: none;
}

.volume-icon {
  height: 6vh;
  width: 6vh;
  margin: 1vw 2vw 1vw 1.5vw;
  position: absolute;
  right: 37vw;
}

.darkmode-toggle {
  height: 6vh;
  width: 6vh;
  margin: 1vw 2vw 1vw 1.5vw;
  position: absolute;
  right: 40.5vw;
}

.mode-selector button {
  background-color: white;

  border-radius: 10px;
  border-width: 0.1vh;
  border-style: solid;
  margin: 1vw 0 0 0.1vw;
  height: 5vh;
  width: 5vw;
  font-size: 2vh;

  box-shadow: 0 0 0.5vh black;
}

html.dark .mode-selector button {
  background-color: #1e1e1e;
  color: #f9f9f9;
  border-color: rgb(133, 125, 125);
}

.mode-selector button:not(:disabled):hover,
html.dark .mode-selector button:not(:disabled):hover {
  height: 5.2vh;
  width: 5.2vw;
  color: rgb(3, 129, 129);

  border-style: solid;
  border-color: aqua;
  box-shadow: 0 0 0.5vh rgb(3, 129, 129);
}

.mode-selector .active,
html.dark .mode-selector .active {
  height: 5.2vh;
  width: 5.2vw;
  color: rgb(3, 129, 129);

  border-style: solid;
  border-color: aqua;
  box-shadow: 0 0 0.5vh rgb(3, 129, 129);
}
